/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

@keyframes extend {
  0% {
    opacity: 1;
    height: 100vh;
  }

  100% {
    opacity: 1;
    height: 0;
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-25vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-25vw);
  }
}

@font-face {
  font-family: "Arial";
}

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
